{% if true %}
Your Homebrew taps, packages and casks have been installed, and you can
{%  else %}
Some of your Homebrew taps, packages and casks have not been installed.
When you have resolved these errors, you can
{%  endif %}
take your next steps.
